<%-
    def config_value(value)
        return value.inspect if value.kind_of? String
        return '%s' % value.inspect.gsub(/\{/, '( ').gsub(/\}/, ' )') if value.kind_of? Hash
    end
-%>

server.modules += ("mod_alias")

alias.url += (
    <% config.each_pair do |k, v|  %>
        "<%= k %>" => <%= config_value v %>,
    <% end -%>
)
