<%-
    def config_value(value)
        return value.inspect if value.kind_of? String
        return '%s' % value.inspect.gsub(/\{/, '( ').gsub(/\}/, ' )') if value.kind_of? Hash
    end

    config = {}
    config = @config

-%>

server.modules += ("mod_fastcgi")

fastcgi.server += (
  "<%= @extension %>" =>
  ((
    <% config.each_pair do |k, v|  %>
        "<%= k %>" => <%= config_value v %>,
    <% end -%>
  ))
)
